.main-heading
{
    background-color: antiquewhite;
}
.row{
 background-color: #FFF8D6;
}

.ppara{
    background-color: azure;
}
input{
    margin: 0%;
width: 6cm;
height: 0.6cm;
}
.email{
    margin: 1.5%;
}
.address{
    margin:0.7%;
}
/* div{
    padding: 2px;
} */
.btn{
    width: 5cm;
    height: 1cm;
    border: 2px;
    background-color: blue;
    border-radius: 5px;
    padding: 2px;
    color: white;
    margin-left: 13%;
}